<section class="author-info">
    <div class="avatar-container">
        <img src="/assets/img/author.jpeg" alt="Avatar do Autor" class="avatar">
    </div>
    <div class="contact-links">
        <p class="link-item">
            <span class="platform">x:</span><a href="https://x.com/meminject">https://x.com/meminject</a>
        </p>
        <p class="link-item">
            <span class="platform">email:</span><a href="mailto:askiesec@pm.me">askiesec@pm.me</a>
        </p>
        <p class="link-item">
            <span class="platform">github:</span><a href="https://github.com/meminject" target="_blank">https://github.com/meminject</a>
        </p>
    </div>
</section>

<hr class="divider">